// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$brow: #484848;

//Nav bar and background
$beige: #F9F4EF;

//Nav bar text and footer text
$dark-green: #403725;

//Footer
$light-brow: #D9C3AD;

//Card background
$light-beige: #EADDCF;

//Card paragraf and header
$light-black: #212121;

//Button
$light-blue: #7EB5D4;

//contact page
$submit-button: #A07037;
