#page_title{
  text-align: left;
  font-size: 2.2em;
  text-transform: uppercase;

}

 .contact-text{
   max-width: 50%;
   font-family: $body-font;
   margin-top: 25px;

 }

.photo{
  margin-bottom: 20px;
}

.hrmobile{
  color: $submit-button;

}

.ph{
  width: 500px;
  height: 500px;
  margin-left: 44px;

}

.label-form{
  display: none;
}

#inputsform{
  // box-shadow:  0 1px 2px rgb(59, 41, 20);
  border-radius: 8px;
  border-color: transparent;

}

#inputsform::placeholder {
  color: #543B1D;
  opacity: 0.5;
}


abbr[title="required"] {
  display: none;
}




// Media queries for responsive design
@media screen and (max-width: 320px),
       screen and (max-width: 414px),
       screen and (max-width: 428px),
       screen and (min-width: 320px) and (max-width: 1024px) {
  .contact-text {
    max-width: 100%;
  }
  #page_title{
    font-size: 2rem;
  }

  .b-findus{
    padding: 12px 25px !important;
  }

}

@media only screen and (max-width: 320px) {

  .b-findus{
    padding: 12px 3px !important;
  }

}
