.banner1 {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(0deg, rgba(29, 21, 18, 0.65), rgba(29, 21, 18, 0.65)), url("image 8.png");
  filter: drop-shadow(2px 4px 6px black);
  height: 50vh;
  display: flex;
  justify-content: center;
}

.banner1 h1 {
  align-self: center;
  text-align: center;
  font-family: "Rochester";
  font-size: 5.625rem;
  font-weight: 300;
  color: $beige;
}

.container-location {
  display: flex;
  margin-top: 30px;
  gap: 100px;
}

.cards-map {
  margin-left: 15%;
}

#local{
  display: flex;
  padding: 10px 10px;
  margin-bottom: 20px;
  border: 1px;
  border-radius: 5px;
  background-color:$light-beige;
  //gap: 30px;
}

#local:hover  {
  color: white;
}


#map {
float: right;
border-radius: 8px;
width: 40%;
height: 60vh;
}

// Media queries for responsive design
@media screen and (max-width: 320px),
       screen and (max-width: 414px),
       screen and (max-width: 428px),
       screen and (min-width: 320px) and (max-width: 1024px) {
  .hide-on-tablet,
  .hide-on-mobile {
    display: none;
  }

  .container-location {
    padding: 0 10px; /* Add some padding to the sides for smaller screens */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 25px;
  }

  .cards-map {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    margin-left: 0%;
  }

  #map {
    width: 100%;
    height: 50vh;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) { // iPad
    #map {
      width: 50%;
      height: 70vh;
    }
  }
}



@media (max-width: 320px) { // iPhone 5
  .banner1 h1 {
    font-size: 2.5rem;
    margin-top: 10px;
  }
}


@media (max-width: 414px) { // iPhone 11
  .banner1 h1 {
    font-size: 3rem;
    padding: 8px 20px;
  }
}

@media (max-width: 428px) { // iPhone 11 Pro Max
  .banner1 h1 {
    font-size: 3.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) { // iPad
  .banner1 h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1025px) { // MacBook
  .banner1 h1 {
    font-size: 5.625rem; // 115px
  }
}
