.banner1 {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(0deg, rgba(29, 21, 18, 0.65), rgba(29, 21, 18, 0.65)), url("image 8.png");
  height: 50vh;
  display: flex;
  justify-content: center;
}

.banner1 h1 {
  align-self: center;
  text-align: center;
  font-family: "Rochester";
  font-size: 5.625rem;
  font-weight: 300;
  color: $beige;

}



.container-location {
  display: flex;
  margin-top: 30px;
  gap: 100px;
}

.cards-map {
  margin-left: 15%;
}

#local{
  display: flex;
  padding: 10px 10px;
  margin-bottom: 20px;
  border: 1px;
  border-radius: 5px;
  background-color:$light-beige;
  //gap: 30px;
}

#local:hover  {
  color: white;
}


#map {
float: right;
border-radius: 8px;
}

// .adress-icon {
//   display: flex;
//   gap: 25px;
// }



// p {
//   line-break: auto;
//   font-family: $body-font;
//   font-weight: 400;
// }

// .findus-container{
//   display: flex;
//   justify-content: center;
//   color: $light-black;
//   gap: 30px;
//   margin-top: 30px;
// }

// .findus-address {
//   font-size: 12;
//   border: 1px;
//   border-radius: 10px;
//   background-color: $light-brow;
//   text-align: center;
//   margin: 10px;
//   height: 110px;
//   width: 300px;
//   padding: 15px;
// }


// .adress {
//   display: flex;
//   flex-direction:column;
//   gap: 10px;
//   gap: 10px 20px; /* row-gap column gap */
//   row-gap: 10px;
//   column-gap: 20px;
//   grid-column: 2;
// }

// Media queries for responsive design
@media (max-width: 320px) { // iPhone 5
  .banner1 h1 {
    font-size: 2.5rem;
    margin-top: 10px;
  }


}


  @media (max-width: 414px) { // iPhone 11
    .banner1 h1 {
      font-size: 3rem;
      padding: 8px 20px;
    }
}

@media (max-width: 428px) { // iPhone 11 Pro Max
  .banner1 h1 {
    font-size: 3.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) { // iPad
  .banner1 h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1025px) { // MacBook
  .banner1 h1 {
    font-size: 5.625rem; // 115px
  }
}
