// Specific CSS for your home-page
.ftn-rochs {
  font-family: "Rochester";
}

.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(0deg, rgba(29, 21, 18, 0.65), rgba(29, 21, 18, 0.65)), url("lebkuchen.jpg");
  filter: drop-shadow(2px 4px 6px black);
  height: 80vh;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.banner h1 {
  text-align: center;
  font-size: 7.1875rem;
  font-family: "Rochester";
  font-weight:lighter;
  margin-top: 50px;
  color: $beige;
}

.banner h2 {
  text-align: center;
  font-family:$body-font;
  font-size: 1.875rem;
  font-weight: 200;
  color: $beige;
  margin-top: 60px;
  margin-bottom: 45px;
}
#about{
  margin-bottom: 30px;
  font-size:2.7rem ;
}

.content {
  font-size: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.home-story {
  display: flex;
  align-items: center;
  color: $dark-green;
  font-family: $body-font;
  line-height: 150%;
  text-align: justify;
  justify-content: center;
}

.story h2 {
  font-family: "Rochester";
  color: #A07037;
  font-weight: 400;
  font-size: 2.5rem;
}

.story h3 {
  text-transform: uppercase;
  text-decoration-color: #A07037;
  margin-top: -9px;
}

.story p {
  color:#716040;
  font-weight: 400;
}

.btn-findus {
  background: #A07037;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;
  font-family:$body-font;
  font-size: 1rem;
  color: $beige;;
  margin:auto;
  letter-spacing: 1px;
//   color: #362e1f;
//   letter-spacing: 1px;;
  display: inline-block;
  text-align: center;
  line-height: normal; /* Adjust this value if needed */
  white-space: nowrap;
}

.btn-findus:hover {
  background: rgba(160, 112, 55, 0.7);
  color: #362e1f;
}

.text-container {
  height: 150px; /* Adjust the height according to your needs */
  overflow: auto; /* Enable scrolling for content that exceeds the container height */
}

.card-product{
background-color: rgba(255, 255, 255,0.5);
background: 0.5;
border-radius: 10px;
}

.card-product img {
  height: 300px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // margin-top: 20px;
}

.card-product-infos {
  margin-top: 10px;
  margin-bottom: 80px;
  margin-left: 20px;
  padding-bottom: 20px;
  justify-content: flex-start !important;
  flex-direction: column;
  font-size: 16px;
}

.card-product-infos h2{
  font-family: "Rochester";
  font-size: 30px;
  margin-bottom: 24px;
  margin-top:20px;
}

.card-product-infos p {
  font-size: 1.1rem;
  margin-top: 40px;
  margin-bottom: 24px;
}


// Media queries for responsive design
@media (max-width: 320px) { // iPhone 5
  .banner h1 {
    font-size: 2.5rem;
    margin-top: 10px;
  }

  .banner h2 {
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .btn-findus {
    font-size: 0.8rem;
    padding: 8px 16px;
  }

}

@media (max-width: 414px) { // iPhone 11
  .banner h1 {
    font-size: 3rem;
    padding: 8px 20px;
  }

  .banner h2 {
    font-size: 1.2rem;
  }

  .btn-findus {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  .card-product-infos p {
    font-size: 0.9rem;
  }

}

@media (max-width: 428px) { // iPhone 11 Pro Max
  .banner h1 {
    font-size: 3.2rem;
  }

  .banner h2 {
    font-size: 1.3rem;
  }

  .btn-findus {
    font-size: 0.95rem;
    padding: 12px 24px;
  }

  .prod-desc {
    font-size: 0.9rem;
  }

}

@media (min-width: 768px) and (max-width: 1024px) { // iPad
  .banner h1 {
    font-size: 4rem;
  }

  .banner h2 {
    font-size: 1.5rem;
  }

  .btn-findus {
    font-size: 1rem;
    padding: 14px 28px;
  }
}

@media (min-width: 1025px) { // MacBook
  .banner h1 {
    font-size: 7.1875rem; // 115px
  }

  .banner h2 {
    font-size: 1.875rem; // 30px
  }

  .btn-findus {
    font-size: 1.2rem;
    padding: 16px 32px;
  }
}
