<footer>
  <div class="footer-content">
        <h3 class="nav-h4">Lebkuchen aus Rodgau</h3>
        <p>Hand made with the best ingredients!</p>
        <div class="footer-links">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
  </div>
  <div class="footer-copyright">
    Copyright © 2023 <strong>Lebkuchen aus Rodgau </strong>
  </div>
</footer>
