<footer>
  <div class="footer-content">
   <div>
      <%= link_to "/", class: "img" do %>
       <%= image_tag "https://res.cloudinary.com/dllghzftv/image/upload/v1674840904/Group_32_2_cz1naq.png" %>
     <% end %>
    </div>
        <div class= "pages">
          <a href="#"><p>Events</p></a>
          <p>About</p>
          <p>Where to buy</p>
          <p>Products</p>
          <p>Contact</p>
        </div>
    <div class="footer-links">
     <a href="#"><i class="fab fa-facebook"></i><p>Facebook</p></a>
     <a href="#"><i class="fab fa-instagram"></i><p>Instagram</p></a>
    </div>

  </div>
   <hr class="line">
  <div class="footer-copyright">
     © Copyright 2023, All Rights Reserve by Lebkuchen aus Rodgau
  </div>
</footer>
