<footer>
  <div class="footer-content">
        <h3>Lebkuchen-aus-Rodgau</h3>
        <div class= "pages">
          <p>Events</p>
          <p>About</p>
          <p>Where to buy</p>
          <p>Products</p>
          <p>Contact</p>
        <div>
    <div class="footer-links">
     <a href="#"><i class="fab fa-facebook"></i><p>Facebook</p></a>
     <a href="#"><i class="fab fa-instagram"></i><p>Instagram</p></a>
    </div>

  </div>
  <div class="footer-copyright">
     © Copyright 2023, All Rights Reserve by Lebkuchen aus Rodgau
  </div>
</footer>
