<div class="container">
  &nbsp;
  &nbsp;
  <h2 class="flavors">1. Datenschutzinformationen</h2>
  &nbsp;
  <h4 class="flavors">Mit dieser Datenschutzerklärung informieren wir Sie über den
  Umfang der Verarbeitung Ihrer personenbezogenen Daten (nachfolgend nur "Daten").</h4>
  &nbsp;
  <h2 class="flavors">2. Verantwortlicher für die Datenverarbeitung</h2>
  <p>Verantwortlich für die Datenverarbeitung im Sinne der Datenschutz-Grundverordnung (DSGVO):
  </p>
  <ul>
    <li class="flavors">Lebkuchen-aus-Rodgau GmbH &amp; Co. KG<br>
    Zollhausstraße 30<br>
    90469 Nürnberg<br>
    Telefon: <a href="http://tel:+4991189660">+ 49(0)911-89660</a><br>
    Internet: www.lebkuchen-schmidt.com<br>
    E-Mail: <a href="mailto:">lebkuchenausrodgau@gmail.com</a></li>
  </ul>
  &nbsp;
  <h2 class="flavors">3. Kontaktdaten unseres Datenschutzbeauftragten</h2>
  <ul>
    <li class="flavors">E-Mail: <a href="mailto:datenschutz@lebkuchen-schmidt.com">datenschutz@lebkuchen-schmidt.com</a></li>
  </ul>
  &nbsp;
  <h2 class="flavors">4. Datenverarbeitung</h2>
  <p class="flavors">Within the scope of our website operation, we process data. This also includes disclosure by transfer to third parties and, if applicable, to so-called third countries outside the European Union ("EU") and the European Economic Area.<br>
  In the case of data transfers to the USA, there is an adequacy finding by the EU Commission, the so-called "EU-US Privacy Shield". Here, the EU Commission certifies that the guarantees for the transfer of data to the USA on the basis of the EU-US Privacy Shield comply with the data protection standards in the EU. If we transfer data to the USA, we have identified the participation of our service providers in the EU-US Privacy Shield.<br>
  The details of the data concerned, processing purposes, legal basis, recipients and transfers to third countries are listed below:<br>
  &nbsp;</p>
  <h4 class="flavors">a) Protokolldatei beim Besuch der Website</h4>
  <p class="flavors">Wir protokollieren Ihren Besuch auf unserer Website. Dabei werden folgende Daten verarbeitet: Name der abgerufenen Webseite, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Browsertyp nebst Version, verwendetes Betriebssystem, Referrer URL (die zuvor besuchte Seite), Ihre IP-Adresse und dem anfragenden Provider. Dies ist notwendig, um die Sicherheit der Website zu gewährleisten. Wir verarbeiten die Daten demgemäß auf Grundlage unserer berechtigten Interessen gem. 6 abs. 1 f) DSGVO, um die Sicherheit der Website zu gewährleisten. Die Protokolldatei wird nach sieben Tagen gelöscht, sofern sie nicht zur Aufklärung oder zum Nachweis konkreter Rechtsverstöße, die innerhalb der Aufbewahrungsfrist bekannt geworden sind, erforderlich ist.<br>
  &nbsp;</p>
  <h4 class="flavors">b) Hosting</h4>
  <p class="flavors">Alle im Zusammenhang mit dem Betrieb dieser Website zu verarbeitenden Daten werden im Rahmen des Hostings gespeichert. Wir verarbeiten diese Daten auf Grundlage unserer berechtigten Interessen gem. 6 Abs. 1 f) DSGVO, um den Betrieb der Website zu ermöglichen. Für die Bereitstellung unseres Online-Auftritts bedienen wir uns der Dienste von Webhosting-Anbietern, denen wir die oben genannten Daten übermitteln.<br>
  &nbsp;</p>
  <h4 class="flavors">c) Kontaktaufnahme</h4>
  <p class="flavors">Wenn Sie mit uns Kontakt aufnehmen, werden Ihre Daten (Name, Kontaktdaten, sofern von Ihnen angegeben) und Ihre Nachricht ausschließlich zum Zwecke der Bearbeitung und Abwicklung Ihrer Anfrage verarbeitet. Diese Daten werden von uns auf Grundlage von Art. 6 abs. 1 b) DSGVO zum Zweck der Vertragserfüllung und/oder zur Erfüllung unserer vorvertraglichen Pflichten oder auf Grundlage unserer berechtigten Interessen gem. 6 abs. 1 f) DSGVO zum Zweck der Bearbeitung Ihrer Anfrage.<br>
  &nbsp;</p>
  <h4 class="flavors">d) Kontaktaufnahme für Bewerbungen</h4>
  <p class="flavors">Wenn Sie uns kontaktieren, um uns Ihre Bewerbung als Mitarbeiter z.B. per E-Mail oder über ein Kontaktformular werden Ihre Daten (z. B. Name, E-Mail-Adresse, gewünschter Einsatzort, sofern von Ihnen angegeben), Ihre Nachricht und die übermittelten Bewerbungsunterlagen ausschließlich zum Zwecke der Bearbeitung und Abwicklung verarbeitet Ihre Bewerbungsanfrage. Rechtsgrundlage für die Datenverarbeitung ist in erster Linie § 26 BDSG. Dies ermöglicht die Verarbeitung von Daten, die für die Entscheidung über die Begründung eines Beschäftigungsverhältnisses erforderlich sind. Sollten die Daten nach Abschluss des Bewerbungsverfahrens zur Rechtsverfolgung erforderlich sein, kann eine Datenverarbeitung zur Wahrung unserer berechtigten Interessen nach Art. 6 Abs. 1 f) DSGVO, nämlich zur Geltendmachung und/oder Abwehr von Ansprüchen.<br>
  &nbsp;</p>
  <h4 class="flavors">e) Newsletter</h4>
  <p class="flavors">Um Sie regelmäßig über unser Unternehmen und unsere Angebote zu informieren, bieten wir den Versand eines Newsletters an. Mit Ihrer Newsletter-Anmeldung verarbeiten wir die von Ihnen eingegebenen Daten (E-Mail-Adresse und weitere freiwillige Angaben). Die Anmeldung zum Newsletter erfolgt im sog. Double-opt-in-Verfahren. Um Missbrauch vorzubeugen, senden wir Ihnen nach Ihrer Anmeldung eine E-Mail, in der wir Sie um Bestätigung Ihrer Anmeldung bitten. Um den Anmeldeprozess entsprechend den rechtlichen Anforderungen nachweisen zu können, wird Ihre Anmeldung protokolliert. Hiervon betroffen ist die Speicherung des Anmelde- und des Bestätigungszeitpunkts, als auch Ihrer IP-Adresse.<br>
  Der Versand der Bestätigungs-E-Mail für Ihre Anmeldung sowie die damit verbundene Datenprotokollierung erfolgt auf Grundlage unseres berechtigten Interesses am Nachweis Ihrer ordnungsgemäßen Anmeldung gem. 6 abs. 1 f) DSGVO, der Versand des Newsletters auf Grundlage Ihrer Einwilligung gem. 6 abs. 1 a) DSGVO.<br>
  Für den Versand des Newsletters setzen wir Dienstleister ein, an die wir die oben genannten Daten übermitteln.<br>
  &nbsp;</p>
  <h4 class="flavors">f) Kontaktseite</h4>
  <p class="flavors">Wir verarbeiten Ihren Namen und Ihre Kontaktdaten zur Bearbeitung Ihrer Anfragen in unserem Katalog. Die Verarbeitung der Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO als vorvertragliche Maßnahme. Wir übermitteln die Daten an den jeweiligen Dienstleister bzw. bei Katalogbestellungen an das mit der Lieferung beauftragte Unternehmen, um Ihre Anfragen und Bestellungen zu bearbeiten.<br>
  &nbsp;</p>
  <h2 class="flavors">5. Cookies, Website-Analyse und Marketing</h2>
  <p class="flavors">Um die Nutzung bestimmter Funktionen zu ermöglichen, verwenden wir sogenannte Cookies. Das sind kurze Datenpakete, die auf Ihrem Endgerät gespeichert und mit anderen Anbietern ausgetauscht werden. Einige der von uns verwendeten Cookies werden unmittelbar nach dem Schließen Ihres Browsers gelöscht (sog. Sitzungs-Cookies). Andere Cookies verbleiben auf Ihrem Endgerät und ermöglichen die Wiedererkennung Ihres Browsers beim nächsten Besuch (persistente Cookies). Jegliche Datenverarbeitung auf Basis von Cookies, die allein der Bereitstellung der Funktionalität unserer Website dienen, erfolgt auf Grundlage unserer berechtigten Interessen gem. 6 Abs. 1 f) DSGVO.<br>
  Sie können alle auf Ihrem Endgerät abgelegten Cookies löschen und die gängigen Browser so einstellen, dass die Speicherung von Cookies verhindert wird.<br>
  In diesem Fall müssen Sie möglicherweise bei jedem Besuch dieser Website einige Einstellungen ändern und die Beeinträchtigung einiger Funktionen in Kauf nehmen.<br>
  Wir verwenden andere Dienste im Zusammenhang mit den folgenden Funktionalitäten:<br>
  &nbsp;</p>
  <h4 class="flavors">a) MapBox und OpenStreetMap</h4>
  <p class="flavors">Auf unserer Website verwenden wir den Kartendienst "„"@MapBox @OpenStreetMap“ von Mapbox.com, um Ihnen eine interaktive Karte zur Verfügung zu stellen. Bei der Anzeige der Karte werden Daten, einschließlich Ihrer IP-Adresse und Ihres Standorts, an Server von Mapbox in den USA übertragen und dort gespeichert. Diese Verarbeitung erfolgt aufgrund unseres überwiegenden berechtigten Interesses an einer optimalen Vermarktung unseres Angebots gem. 6 abs. 1 f) DSGVO.<br>
  <br>
  Die Mapbox-Datenschutzrichtlinie ist zertifiziert unter:&nbsp;<br>
  <a href="https://www.mapbox.com/legal/privacy" target="_blank">https://www.mapbox.com/legal/privacy</a><br>
  Weitere Informationen zum Datenschutz finden Sie unter:&nbsp;<br>
  <a href="https://www.mapbox.com/legal/usg-tos/" target="_blank">https://www.mapbox.com/legal/usg-tos/</a><br >
  &nbsp;</p>
  <h4 class="flavors">b) Google Fonts</h4>
  <p class="flavors">Um den Besuch unserer Website attraktiv zu gestalten, verwenden wir externe Schriftarten von Google-Fonts. Diese werden während Ihres Besuchs auf der Website von Servern der Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland ("„"Google“) geladen. Google speichert keine Cookies in Ihrem Browser. Nach unseren Informationen wird jedoch die IP-Adresse des Endgerätes des Nutzers an Google übermittelt und gespeichert. Diese Verarbeitung erfolgt aufgrund unseres überwiegenden berechtigten Interesses an einer optimalen Vermarktung unseres Angebots gem. 6 abs. 1 f) DSGVO.<br>
  <br>
  Google ist zertifiziert unter:<br>
  <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active" target="_blank">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active </a><br>
  Weitere Informationen zum Datenschutz finden Sie unter:&nbsp;<br>
  <a href="https://policies.google.com/privacy?hl=de&amp;gl=de" target="_blank">https://policies.google.com/privacy?hl=de&amp;gl=de </a><br>
  &nbsp;</p>
  <h2 class="flavors">7. Dauer der Datenspeicherung</h2>
  <p class="flavors">Wir speichern personenbezogene Daten nur so lange, wie dies für die Zwecke, für die sie verarbeitet werden, erforderlich ist oder Sie Ihre Einwilligung widerrufen haben. Soweit gesetzliche Aufbewahrungspflichten zu beachten sind, kann die Speicherdauer zu bestimmten Daten unabhängig von den Verarbeitungszwecken bis zu 10 Jahre betragen.<br>
  &nbsp;</p>
  <h2 class="flavors">8. Ihre Rechte als betroffene Person</h2>
  &nbsp;
  <h4 class="flavors">a) Informationen</h4>
  <p class="flavors">Auf Anfrage erhalten Sie jederzeit unentgeltlich Auskunft über alle personenbezogenen Daten, die wir über Sie gespeichert haben.<br>
  &nbsp;</p>
  <h4 class="flavors">b) Berichtigung, Löschung, Einschränkung der Verarbeitung (Sperrung), Widerspruch</h4>
  <p class="flavors">Wenn Sie mit der Speicherung Ihrer personenbezogenen Daten nicht mehr einverstanden sind oder die Daten unrichtig geworden sind, werden wir auf Ihre Weisung hin die Löschung oder Sperrung Ihrer Daten veranlassen oder die erforderlichen Berichtigungen vornehmen (soweit dies erforderlich ist). nach geltendem Recht möglich). Gleiches gilt, wenn wir Daten künftig nur noch eingeschränkt verarbeiten sollen. Ein Widerspruchsrecht steht Ihnen insbesondere in den Fällen zu, in denen Ihre Daten für die Wahrnehmung einer Aufgabe erforderlich sind, die im öffentlichen Interesse oder in unserem berechtigten Interesse liegt, sowie ein auf diesen Daten basierendes Profiling. Ein solches Widerspruchsrecht steht Ihnen auch im Falle der Datenverarbeitung zu Zwecken der Direktwerbung zu.<br>
  &nbsp;</p>
  <h4 class="flavors">c) Datenübertragbarkeit</h4>
  <p class="flavors">Auf Wunsch stellen wir Ihnen Ihre Daten in einem gängigen, strukturierten und maschinenlesbaren Format bereit, damit Sie die Daten auf Wunsch einem anderen Verantwortlichen übermitteln können.<br>
  &nbsp;</p>
  <h4 class="flavors">d) Widerrufsrecht bei Einwilligungen mit Wirkung für die Zukunft</h4>
  <p class="flavors">Eine erteilte Einwilligung können Sie jederzeit mit Wirkung für die Zukunft widerrufen. Ihr Widerruf berührt nicht die Rechtmäßigkeit der bis zum Widerruf erfolgten Verarbeitung.<br>
  &nbsp;</p>
  <h4 class="flavors">e) Beschwerderecht</h4>
  <p class="flavors">Sie haben auch die Möglichkeit, sich bei einer Aufsichtsbehörde über Ihre Betroffenenrechte zu beschweren:<br>
  <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank">https://www.bfdi.bund.de/DE/Infothek /Anschriften_Links/anschriften_links-node.html</a>.<br>
  &nbsp;</p>
  <h4 class="flavors">f) Einschränkungen</h4>
  <p class="flavors">Daten, bei denen wir die betroffene Person nicht identifizieren können, z. wenn sie zu Analysezwecken anonymisiert wurden, fallen nicht unter die oben genannten Rechte. Auskünfte, Löschung, Sperrung, Berichtigung oder Übertragung an ein anderes Unternehmen sind in Bezug auf diese Daten ggf. möglich, wenn Sie uns zusätzliche Informationen zur Verfügung stellen, die uns eine Identifizierung ermöglichen.<br>
  &nbsp;</p>
  <h2 class="flavors">9. Ausübung Ihrer Rechte als betroffene Person</h2>
  <p class="flavors">Bei Fragen zur Verarbeitung Ihrer personenbezogenen Daten, bei Auskünften, Berichtigung, Sperrung, Widerspruch oder Löschung von Daten oder der Übertragung der Daten an ein anderes Unternehmen wenden Sie sich bitte an <a href="mailto:datenschutz@ lebkuchen-schmidt.com">datenschutz@lebkuchen-schmidt.com</a>.</p>
</div>
