<div class="container">
  <h3 id="1">1. Privacy Information</h3>
  <h4>With this privacy policy, we inform you about the extent of the processing of your personal data (hereinafter only "data").</h4>
  &nbsp;
  <h3 id="2">2. Responsible for data processing</h3>
  Responsible for data processing in accordance with the provisions of the General Data Protection Regulation (GDPR):
  <ul>
    <li>Lebkuchen-aus-Rodgau GmbH &amp; Co. KG<br>
    Zollhausstraße 30<br>
    90469 Nuremberg<br>
    Phone: <a href="http://tel:+4991189660">+ 49 (0) 911 - 89 66 0</a><br>
    Web: www.lebkuchen-schmidt.com<br>
    E-mail: <a href="mailto:">lebkuchenausrodgau@gmail.com</a></li>
  </ul>
  &nbsp;

  <h3 id="3">3. Contact details of our data protection officer</h3>

  <ul>
    <li>E-mail: <a href="mailto:datenschutz@lebkuchen-schmidt.com">datenschutz@lebkuchen-schmidt.com</a></li>
  </ul>
  &nbsp;

  <h3 id="4">4. Data processing</h3>

  <p>Within the scope of our website operation, we process data. This also includes disclosure by transfer to third parties and, if applicable, to so-called third countries outside the European Union ("EU") and the European Economic Area.<br>
  In the case of data transfers to the USA, there is an adequacy finding by the EU Commission, the so-called "EU-US Privacy Shield". Here, the EU Commission certifies that the guarantees for the transfer of data to the USA on the basis of the EU-US Privacy Shield comply with the data protection standards in the EU. If we transfer data to the USA, we have identified the participation of our service providers in the EU-US Privacy Shield.<br>
  The details of the data concerned, processing purposes, legal basis, recipients and transfers to third countries are listed below:<br>
  &nbsp;</p>

  <h4>a) log file when visiting the website</h4>

  <p>We log your visit to our website. The following data are processed: Name of the website accessed, date and time of access, the amount of data transferred, the browser type and version, the operating system you are using, the referrer URL (the website previously visited), your IP address and the requesting provider. This is necessary to ensure the security of the website. We process the data accordingly on the basis of our legitimate interests in accordance with Art. 6 paragraph. 1 f) GDPR, in order to guarantee the security of the website. The log file will be deleted after seven days, unless it is required for the clarification or proof of concrete violations of the law that have become known within the retention period.<br>
  &nbsp;</p>

  <h4>b) Hosting</h4>

  <p>All data to be processed in connection with the operation of this website is stored as part of hosting. We process such data on the basis of our legitimate interests in accordance with Art. 6 Para. 1 f) GDPR to enable the operation of the website. For the provision of our online presence, we use the services of web hosting providers to whom we transfer the above-mentioned data.<br>
  &nbsp;</p>

  <h4>c) Making contact</h4>

  <p>If you contact us, your data (name, contact details, if provided by you) and your message will be processed exclusively for the purpose of processing and handling your request. This data will be processed by us on the basis of Art. 6 para. 1 b) GDPR for the purpose of fulfilling the contract and/or for the fulfilment of our pre-contractual obligations or on the basis of our legitimate interests in accordance with Art. 6 para. 1 f) GDPR for the purpose of processing your enquiry.<br>
  &nbsp;</p>

  <h4>d) Contacting for applications</h4>

  <p>If you contact us in order to send us your application as an employee, e.g. by e-mail or via a contact form, your data (e.g. name, e-mail address, desired place of employment, if specified by you), your message and the application documents submitted will be processed exclusively for the purpose of processing and handling your application request. The legal basis for data processing is primarily § 26 BDSG. This allows the processing of data necessary for the decision to establish an employment relationship. Should the data be necessary for legal prosecution after the application procedure has been completed, data processing may be carried out to protect our legitimate interests in accordance with Art. 6 Para. 1 f) GDPR, namely to assert and/or defend claims.<br>
  &nbsp;</p>

  <h4>e) Newsletter</h4>

  <p>In order to provide you with regular information about our company and our offers, we offer the dispatch of a newsletter. With your newsletter registration, we process the data you enter (e-mail address and other voluntary information). The registration for the newsletter takes place in the so-called double opt-in procedure. To prevent misuse, we will send you an e-mail after your registration in which we ask you to confirm your registration. In order to be able to prove the registration process according to the legal requirements, your registration will be logged. The storage of the registration and confirmation time, as well as your IP address are affected.<br>
  The sending of the confirmation e-mail for your registration, as well as the associated data logging, is based on our legitimate interest in proof of your proper registration in accordance with Art. 6 para. 1 f) GDPR, the dispatch of the newsletter based on your consent in accordance with Art. 6 para. 1 a) GDPR.<br>
  To send the newsletter, we use service providers to whom we transfer the above mentioned data.<br>
  &nbsp;</p>

  <h4>f) Contact Page</h4>

  <p>We process your name and contact data for the processing of your requests in our catalogue. The processing of the data is carried out on the basis of Article 6(1)(b) of the GDPR as a pre-contractual measure. We transmit the data to the respective service provider or, in the case of catalogue orders, to the company commissioned with the delivery, in order to process your inquiries and orders.<br>
  &nbsp;</p>

  <h3 id="5">5. Cookies, website analysis and marketing</h3>

  <p>To enable the use of certain functions, we use so-called cookies. These are short data packets that are stored on your end device and exchanged with other providers. Some of the cookies we use are deleted immediately after closing your browser (so-called session cookies). Other cookies remain on your end device and make it possible to recognise your browser on your next visit (persistent cookies). Any data processing that is carried out on the basis of cookies, which are used solely to create the functionality of our website, is carried out on the basis of our legitimate interests in accordance with Art. 6 Para. 1 f) GDPR.<br>
  You can delete all cookies stored on your terminal device and set the common browsers to prevent the storage of cookies.<br>
  In this case, you may have to change some settings each time you visit this website and you may have to accept the impairment of some functions.<br>
  We use other services in connection with the following functionalities:<br>
  &nbsp;</p>

  <h4>a) MapBox and OpenStreetMap</h4>

  <p>On our website we use the map service "@MapBox @OpenStreetMap" from Mapbox.com to provide you with an interactive map. When the map is displayed, data, including your IP address and your location, are transmitted to Mapbox servers in the USA and stored there. This processing takes place due to our predominant legitimate interest in an optimal marketing of our offer according to Art. 6 para. 1 f) GDPR.<br>
  <br>
  Mapbox Privacy Policy is certified under:&nbsp;<br>
  <a href="https://www.mapbox.com/legal/privacy" target="_blank">https://www.mapbox.com/legal/privacy</a><br>
  Further information on data protection can be found at:&nbsp;<br>
  <a href="https://www.mapbox.com/legal/usg-tos/" target="_blank">https://www.mapbox.com/legal/usg-tos/</a><br>
  &nbsp;</p>

  <h4>b) Google Fonts</h4>

  <p>To make the visit of our website attractive we use external fonts from Google-Fonts. These are loaded during your visit to the Site from servers of Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Ireland ("Google"). Google does not store cookies in your browser. According to our information, however, the IP address of the user's terminal device is transmitted to Google and stored. This processing takes place due to our predominant legitimate interest in an optimal marketing of our offer according to Art. 6 para. 1 f) GDPR.<br>
  <br>
  Google is certified under:<br>
  <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active" target="_blank">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active</a><br>
  Further information on data protection can be found at:&nbsp;<br>
  <a href="https://policies.google.com/privacy?hl=de&amp;gl=de" target="_blank">https://policies.google.com/privacy?hl=de&amp;gl=de</a><br>
  &nbsp;</p>

  <h3 id="7">7. Duration of data storage</h3>

  <p>We only store personal data for as long as is necessary for the purposes for which it is processed or as long as you have revoked your consent. Insofar as statutory storage obligations have to be observed, the storage period for certain data can be up to 10 years, regardless of the processing purposes.<br>
  &nbsp;</p>

  <h3 id="8">8. Your rights as a data subject</h3>
  &nbsp;

  <h4>a) information</h4>

  <p>Upon request, you will receive information free of charge at any time about all personal data that we have stored about you.<br>
  &nbsp;</p>

  <h4>b) Rectification, erasure, limitation of processing (blocking), opposition</h4>

  <p>If you no longer agree to the storage of your personal data or if the data has become incorrect, we will, upon your instruction, arrange for the deletion or blocking of your data or make the necessary corrections (as far as this is possible under the applicable law). The same applies if we are to process data in the future only to a limited extent. You have a right of objection in particular in those cases in which your data is required for the performance of a task that is in the public interest or in our legitimate interest, as well as profiling based on this data. You also have such a right of objection in the case of data processing for the purpose of direct marketing.<br>
  &nbsp;</p>

  <h4>c) Data transferability</h4>

  <p>Upon request, we will provide you with your data in a common, structured and machine-readable format, so that you can transfer the data to another responsible person if you wish.<br>
  &nbsp;</p>

  <h4>d) Cancellation right in case of consents with effect for the future</h4>

  <p>You may revoke any consent you have given at any time with effect for the future. Your revocation does not affect the lawfulness of the processing until the date of revocation.<br>
  &nbsp;</p>

  <h4>e) Right of complaint</h4>

  <p>You also have the possibility to complain to a supervisory authority about your rights as a data subject:<br>
  <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.<br>
  &nbsp;</p>

  <h4>f) Restrictions</h4>

  <p>Data, where we are not able to identify the data subject, e.g. if they have been anonymised for analysis purposes, are not covered by the above rights. Information, deletion, blocking, correction or transfer to another company may be possible in relation to this data if you provide us with additional information that allows us to identify you.<br>
  &nbsp;</p>

  <h3 id="9">9. Exercise of your rights as a data subject</h3>

  <p>If you have any questions regarding the processing of your personal data, for information, correction, blocking, objection or deletion of data or the wish to transfer the data to another company, please contact <a href="mailto:datenschutz@lebkuchen-schmidt.com">datenschutz@lebkuchen-schmidt.com</a>.</p>

</div>