<div>
  <div class= "findus">
    <h1>Where to find us </h1>
  </div>
    <div class= "findus-container">

      <div class= "adress">
        <div class= "findus-address">
          <h2> Fleischerei Göbel</h2>
          <div class="adress-icon">
            <i class="fa-solid fa-location-dot"></i>
            <p>Dudenhöfer Strasse 33 <br>63110 Rodgau</p>
          </div>
        </div>


        <div  class= "findus-address">
          <h2> Sport aktiv</h2>
          <div class="adress-icon">
            <i class="fa-solid fa-location-dot"></i>
            <p>Ludwigstrasse 6 <br>63110 Rodgau</p>
          </div>
        </div>

        <div  class= "findus-address">
          <h2> Fleischerei Göbel <br>(ehem. Behringer)</h2>
          <div class="adress-icon">
            <i class="fa-solid fa-location-dot"></i>
            <p>Langstrasse 37 <br>63450 Hanau</p>
          </div>
        </div>

        <div  class= "findus-address">
          <h2> Alexandras Marktstübchen</h2>
          <div class="adress-icon">
            <i class="fa-solid fa-location-dot"></i>
            <p>Bischof-Kettler-Strasse 46 <br>63165 Mühlheim am Main</p>
          </div>
        </div>

        <div  class= "findus-address">
          <h2> Edeka Ermel</h2>
          <div class="adress-icon">
            <i class="fa-solid fa-location-dot"></i>
            <p>Hegelstrasse 3  <br>63110 Rodgau</p>
        </div>
      </div>

    </div>

      <div data-controller=“map” data-map-target=“map”>
        <div id='map' style='width: 400px; height: 300px;'></div>
      </div>



        <div id="map"></div>
      <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVnYnQiLCJhIjoiY2xhY25oMWgwMGM2djN2bWl0azhzYTg0aSJ9.Kkahd4emN4lOV9k98E6AWA';
      const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/andregbt/cldvw7qd400bn01seodm77vbv',
      center: [50.0013, 8.8769],
      zoom: 10.7
      });

      map.on('click', (event) => {
      const features = map.queryRenderedFeatures(event.point, {
      layers: ['lebkuchen']
      });
      if (!features.length) {
      return;
      }
      const feature = features[0];

      const popup = new mapboxgl.Popup({ offset: [0, -15] })
      .setLngLat(feature.geometry.coordinates)
      .setHTML(
      `<h3>${feature.properties.title}</h3><p>${feature.properties.description}</p>`
      )
      .addTo(map);
      });
      </script>
    </div>
</div>











        <%# <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoiYW5kcmVnYnQiLCJhIjoiY2xhY25oMWgwMGM2djN2bWl0azhzYTg0aSJ9.Kkahd4emN4lOV9k98E6AWA';
          const map = new mapboxgl.Map({
          container: 'map', // container ID
          style: 'mapbox://styles/mapbox/streets-v12', // style URL
          center: [-74.5, 40], // starting position [lng, lat]
          zoom: 9, // starting zoom
          });
        </script> %>
    </div>
<%# </div> %>
