<div class= "background">
  <div id="head-banner">
  <div class="overlay">
      <h1>Lebkuchen</h1>
      <h2>The moste delicious cookie in all of Europe, <br> surprise yourself with the flavour</h2>
      </div>
        <a class="btn btn-flat" href="#">Where to buy</a>
      </div>
    </div>
  </div>
  <%# <%= link_to 'About', page_path('about') %>
</div>
