<div class= "banner">
  <div class="content">
      <h1>Lebkuchen</h1>
      <h2>The most delicious cookie in all of Europe, <br> surprise yourself with the flavour</h2>
        <%= link_to "Where to buy", "/findus", class: "btn btn-flat" %>
  </div>
</div>
