<div class= "banner">
  <div class="content">
      <h1>Lebkuchen</h1>
      <h2>The most delicious cookie in all of Europe, <br> surprise yourself with the flavour</h2>
        <%= link_to "Where to buy", "/findus", class: "btn btn-flat" %>
  </div>
</div>

<div class="home-story">
   <div class="photo">
    <%= image_tag("cooking.svg", style: "width: 460px; height: 460px;") %>
   </div>
  <div class="story">
   <h3>The Story Behind the Delicious Rodgau Lebkuchens</h3>
   <p>Rodgau's history began when two friends, Matthias Stark and Michael Rieß, had a <br>conversation over good beer and wine.<br>
      They considered starting a business in the baking industry and came up with the<br>
      idea of producing Lebkuchen, a popular seasonal treat in Germany. Matthias is a<br>
       former baker and a passionate hobby baker, who was frustrated with the mass-<br>
       produced Lebkuchen that didn't meet his high standards. The two friends, along<br>
       with Thomas Titt, started baking for personal use but soon the demand for their<br>
       high-quality Lebkuchen exceeded their capacity. They eventually found a bakery<br>
       to work in as semi-professional bakers and after several successful seasons,<br>
       they registered their business with the Chamber of Industry and Commerce.<br>
       Today, their team of five bakes a variety of Mandellebkuchen and<br>
       Haselnusslebkuchen, made with fine ingredients and baked to perfection. </p>
  </div>

</div>
