<section id="content">
<div class="contentFullTop">
  <div class="container">
    <div class="contentMain">
      <div class="paddingBottom--middle">
        <div class="textcontent noBackground">
          <h1 style="text-align: center; margin-bottom: 0;">Impressum</h1>
          <hr class="specialhr">
          <div style="text-align: center;">Alle Rechte vorbehalten. Inhalt und Struktur unseres Internetauftritts sind urheberrechtlich geschützt.<br>
            Aktualisierungen oder Ergänzungen können jederzeit von der Lebkuchen-Schmidt GmbH &amp; Co. KG vorgenommen werden.<br>
            ® 2020 | Lebkuchen-Schmidt GmbH &amp; Co. KG.</div>

          </div>
        </div>
          <div id="" class="group row"><div id="" class="group cms-column col-xs-12 col-lg-8 marginBottom--middle"><div id="" class="group">
          <div class="textcontent noBackground">
            <h2>Angaben gemäß § 5 TMG:</h2>
          </div>
          <div id="" class="group row"><div class="cms-column col-xs-12 col-md-6">
          <div class="textcontent noBackground">
            <strong>Lebkuchen-Schmidt GmbH &amp; Co. KG</strong><br>
            Nürnberger Lebkuchen, Gebäck<br>
            und andere feine Spezialitäten.<br>
            Zollhausstraße 30<br>
            90469 Nürnberg<br>
            <br>
            <strong>Geschäftsführung:</strong><br>
            Gerhard Schmelzer, Dr. Jürgen Brandstetter<br>
            <br>
            <strong>Komplementär:</strong><br>
            E. Otto Schmidt Lebkuchen Verwaltungs GmbH<br>
            Amtsgericht Nürnberg HRB 12574 (persönlich haftend)
          </div>
        </div>
          <div class="cms-column col-xs-12 col-md-6">
          <div class="textcontent noBackground">
          <strong>Telefon:</strong><br>
          <a href="tel:+4991189660">+ 49 (0) 911 - 89 66 0</a><br>
          &nbsp;<br>
          <strong>Fax:</strong><br>
          + 49 (0) 911 - 89 66 222<br>
          <br>
          <strong>E-Mail:</strong><br>
          <a href="mailto:info@lebkuchen-schmidt.com">info@lebkuchen-schmidt.com</a><br>
          &nbsp;<br>
          <strong>Redaktionell verantwortlich gemäß § 55 Abs.2 RStV:</strong><br>
          Thorsten Schnetzer<br>
          Zollhausstrasse 30, 90469 Nürnberg
          </div>
          </div>
          </div></div></div><div id="" class="group cms-column col-xs-12 col-lg-4 marginBottom--middle"><div id="" class="group ">
          <div class="textcontent noBackground">
          <h2>Registereintrag:</h2>
          <strong>Registergericht:</strong><br>
          Amtsgericht Nürnberg<br>
          <br>
          <strong>Handelsregister Nr.:</strong><br>
          HRA 4056<br>
          <br>
          <strong>Umsatzsteuer-Identifikationsnummer:</strong><br>
          DE 133 407 956<br>
          <br>
          <strong>Öko-Kontrollstellen-Code:</strong><br>
          DE-ÖKO-003<br>
          &nbsp;
          </div>
          </div>
          </div>
          </div>
          <div id="" class="group row"><div class="marginBottom--middle cms-column col-xs-12 col-lg-8">
            <div class="textcontent noBackground">
              <h3>Bildquellennachweis</h3>
              Die auf dieser Webseite genutzten Bilder stammen von Shutterstock und namentlich von fotolia:<br>
              Datei: #36218780 © J.J.Brown / Fotolia.com; Datei: #38961463 © Igor Bronislavovich / Fotolia.com; Datei: #70611015 © bluebat / Fotolia.com; Datei: #73648159 © drubig-photo / Fotolia.com; Datei: #89077311 © BillionPhotos.com / Fotolia.com; Datei: #93621430 © larshallstrom / Fotolia.com; Datei: #94573555 © euthymia / Fotolia.com; Datei: #94967792 © stokkete / Fotolia.com; Datei: #95521073 © Konstantin Yuganov / Fotolia.com; Datei: #96311951 © Monkey Business / Fotolia.com; Datei: #96396768 © Vadim Andrushchenko / Fotolia.com; Datei: #97028357 © andreaobzerova / Fotolia.com; Datei: #102113804 © alicjane / Fotolia.com; Datei: #102508484 © alicjane / Fotolia.com; Datei: #114632860 © sergeka / Fotolia.com; Datei: #116722524 © marilyn barbone / Fotolia.com; Datei: #117209306 © peshkova / Fotolia.com; Datei: #117214401 © peshkova / Fotolia.com; Datei: #117783907 © kostikovanata / Fotolia.com
            </div>
          </div>
        <div class="paddingBottom cms-column col-xs-12 col-sm-6 col-lg-4">
          <div class="textcontent noBackground">
          <h3>Hinweis zur Streitbeilegung</h3>
          Die Europäischen Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit. Diese ist über die folgende Internetadresse erreichbar: <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>. Wir sind nicht bereit oder verpflichtet an einem Streitbeilegungsverfahren der Verbraucherschlichtungsstellen teilzunehmen.<br>
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contentFullBottom"></div>
</section>
