<section id="content">
<div class="contentFullTop">
  <div class="container">
    <div class="contentMain">
      <div class="paddingBottom--middle">
        <div class="textcontent noBackground">
          <h1 style="text-align: center; margin-bottom: 0;">Impressum</h1>
          <hr class="specialhr">
          <div style="text-align: center;">Alle Rechte vorbehalten. Inhalt und Struktur unseres Internetauftritts sind urheberrechtlich geschützt.<br>
            Aktualisierungen oder Ergänzungen können jederzeit von der Lebkuchen-aus-Rodgau GmbH &amp; Co. KG vorgenommen werden.<br>
            ® 2023 | Lebkuchen-aus-Rodgau GmbH &amp; Co. KG.</div>

          </div>
        </div>
          <div id="" class="group row"><div id="" class="group cms-column col-xs-12 col-lg-8 marginBottom--middle"><div id="" class="group">
          <div class="textcontent noBackground">
            <h2>Angaben gemäß § 5 TMG:</h2>
          </div>
          <div id="" class="group row"><div class="cms-column col-xs-12 col-md-6">
          <div class="textcontent noBackground">
            <strong>Lebkuchen-aus-Rodgau GmbH &amp; Co. KG</strong><br>
            Nürnberger Lebkuchen, Gebäck<br>
            und andere feine Spezialitäten.<br>
             Hegelstrasse 3<br>
            90469 Rodgau<br>
            <br>
            <strong>Geschäftsführung:</strong><br>
            Hans da Silva, Ludweg Müller<br>
            <br>
            <strong>Komplementär:</strong><br>
            Hans da Silva Lebkuchen-aus-Rodgau GmbH<br>
            Amtsgericht Rodgau HRB 12574 (persönlich haftend)
          </div>
        </div>
          <div class="cms-column col-xs-12 col-md-6">
          <div class="textcontent noBackground">
          <strong>Telefon:</strong><br>
          <a href="tel:+4999999999">+ 49 (0) 999 - 99 99 9</a><br>
          &nbsp;<br>
          <strong>Fax:</strong><br>
          + 49 (0) 999 - 99 99 999<br>
          <br>
          <strong>E-Mail:</strong><br>
          <a href="mailto:lebkuchenausrodgau@gmail.com">lebkuchenausrodgau@gmail.com</a><br>
          &nbsp;<br>
          <strong>Redaktionell verantwortlich gemäß § 55 Abs.2 RStV:</strong><br>
          Thorsten Schnetzer<br>
          Hegelstrasse 3, 90469 Rodgau
          </div>
          </div>
          </div></div></div><div id="" class="group cms-column col-xs-12 col-lg-4 marginBottom--middle"><div id="" class="group ">
          <div class="textcontent noBackground">
          <h2>Registereintrag:</h2>
          <strong>Registergericht:</strong><br>
          Amtsgericht Nürnberg<br>
          <br>
          <strong>Handelsregister Nr.:</strong><br>
          HRA 9999<br>
          <br>
          <strong>Umsatzsteuer-Identifikationsnummer:</strong><br>
          DE 999 999 999<br>
          <br>
          <strong>Öko-Kontrollstellen-Code:</strong><br>
          DE-ÖKO-999<br>
          &nbsp;
          </div>
          </div>
          </div>
          </div>
          <div id="" class="group row"><div class="marginBottom--middle cms-column col-xs-12 col-lg-8">
            <div class="textcontent noBackground">
              <h3>Bildquellennachweis</h3>
              
            </div>
          </div>
        <div class="paddingBottom cms-column col-xs-12 col-sm-6 col-lg-4">
          <div class="textcontent noBackground">
          <h3>Hinweis zur Streitbeilegung</h3>
          Die Europäischen Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit. Diese ist über die folgende Internetadresse erreichbar: <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>. Wir sind nicht bereit oder verpflichtet an einem Streitbeilegungsverfahren der Verbraucherschlichtungsstellen teilzunehmen.<br>
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contentFullBottom"></div>
</section>
