<section id="content">
<div class="contentFullTop"></div>
<div class="container">
<div class="contentMain">
<div class="paddingBottom--middle">
<div class="textcontent noBackground">
<h1 style="text-align: center; margin-bottom: 0;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Legal</font></font></h1>

<hr class="specialhr">
<div style="text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">All rights reserved. </font><font style="vertical-align: inherit;">The content and structure of our website are protected by copyright. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
Updates or additions can be made by Lebkuchen-aus-Rodgau GmbH &amp; Co. KG at any time. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
® 2023 | </font><font style="vertical-align: inherit;">Lebkuchen-aus-Rodgau GmbH GmbH &amp; Co. KG.</font></font></div>

</div>
</div><div id="" class="group row"><div id="" class="group cms-column col-xs-12 col-lg-8 marginBottom--middle"><div id="" class="group ">
<div class="textcontent noBackground">
<h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">According to § 5 TMG:</font></font></h2>

</div>
<div id="" class="group row"><div class="cms-column col-xs-12 col-md-6">
<div class="textcontent noBackground">
<strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lebkuchen-aus-Rodgau GmbH &amp; Co. KG</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
Rodgau gingerbread, pastries </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
and other fine specialties. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
Hegelstrasse 3 </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
90469 Rodgau </font></font><br>
<br>
<strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Management:</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
Hans da Silva,</font><font style="vertical-align: inherit;"> Ludweg Müller </font></font><br>
<br>
<strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">general partner:</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
Hans da Silva Lebkuchen aus Rodgau GmbH </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
district court Rodgau HRB 12574 (personally liable)
</font></font></div>
</div>
<div class="cms-column col-xs-12 col-md-6">
<div class="textcontent noBackground">
<strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telephone: </font></font></strong><br>
<a href="tel:+4999999999"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">+ 49 (9) 999 - 99 99 9 </font></font></a><br>
&nbsp;<br>
<strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fax:</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
+ 49 (0) 999 - 99 99 999 </font></font><br>
<br>
<strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-Mail: </font></font></strong><br>
<a href="mailto:lebkuchenausrodgau@gmail.com"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">lebkuchenausrodgau@gmail.com </font></font></a><br>
&nbsp;<br>
<strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Responsible for the editorial department according to § 55 Abs.2 RStV:</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
Thorsten Schnetzer </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
Hegelstrasse 3, 90469 Rodgau
</font></font></div>
</div>
</div></div></div><div id="" class="group cms-column col-xs-12 col-lg-4 marginBottom--middle"><div id="" class="group ">
<div class="textcontent noBackground">
<h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Register entry:</font></font></h2>
<strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Register court:</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
District Court of Rodgau </font></font><br>
<br>
<strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Commercial Register No.:</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
HRA 9999 </font></font><br>
<br>
<strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sales tax identification number:</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
DE 999 999 999 </font></font><br>
<br>
<strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Organic control body code:</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
DE-ÖKO-999</font></font><br>
&nbsp;
</div>
</div></div></div><div id="" class="group row"><div class="marginBottom--middle cms-column col-xs-12 col-lg-8">
<div class="textcontent noBackground">
<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Image Credits</font></font></h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
The images used on this website come from XXX and specifically from fotolia:</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
File: #36218780 © JJBrown / Fotolia.com; </font><font style="vertical-align: inherit;">File: #38961463 © Igor Bronislavovich / Fotolia.com; </font><font style="vertical-align: inherit;">File: #70611015 © bluebat / Fotolia.com; </font><font style="vertical-align: inherit;">File: #73648159 © drubig-photo / Fotolia.com; </font><font style="vertical-align: inherit;">File: #89077311 © BillionPhotos.com / Fotolia.com; </font><font style="vertical-align: inherit;">File: #93621430 © larshallstrom / Fotolia.com; </font><font style="vertical-align: inherit;">File: #94573555 © euthymia / Fotolia.com; </font><font style="vertical-align: inherit;">File: #94967792 © stokkete / Fotolia.com; </font><font style="vertical-align: inherit;">File: #95521073 © Konstantin Yuganov / Fotolia.com; </font><font style="vertical-align: inherit;">File: #96311951 © Monkey Business / Fotolia.com; </font><font style="vertical-align: inherit;">File: #96396768 © Vadim Andrushchenko / Fotolia.com; </font><font style="vertical-align: inherit;">File: #97028357 © andreaobzerova / Fotolia.com; </font><font style="vertical-align: inherit;">File: #102113804 © alicjane / Fotolia.com; </font><font style="vertical-align: inherit;">File: #102508484 © alicjane / Fotolia.com; </font><font style="vertical-align: inherit;">File: #114632860 © sergeka / Fotolia.com; </font><font style="vertical-align: inherit;">File: #116722524 © marilyn barbone / Fotolia.com; </font><font style="vertical-align: inherit;">File: #117209306 © peshkova / Fotolia.com; </font><font style="vertical-align: inherit;">File: #117214401 © peshkova / Fotolia.com; </font><font style="vertical-align: inherit;">File:
</font></font></div>
</div>
<div class="paddingBottom cms-column col-xs-12 col-sm-6 col-lg-4">
<div class="textcontent noBackground">
<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dispute Resolution Notice</font></font></h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
The European Commission provides a platform for online dispute resolution (OS). </font><font style="vertical-align: inherit;">This can be reached via the following Internet address: </font></font><a href="http://ec.europa.eu/consumers/odr/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">http://ec.europa.eu/consumers/odr/</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> . </font><font style="vertical-align: inherit;">We are not willing or obliged to participate in a dispute settlement procedure of the consumer arbitration boards.</font></font><br>
&nbsp;
<%# <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Concept, design, implementation and technology</font></font></h3>
<strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A digital success story by dc</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
Implementation with the content management system </font></font><a href="https://www.dc.ag/de/dynamic-content" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">dynamic content</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> , the e-commerce software </font></font><a href="https://www.dc.ag/de/dynamic-commerce/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">dynamic commerce. </font></font></a><br>
<a href="https://www.dc.ag/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">www.dc.ag</font></font></a> %>
</div>
</div>
</div>                        </div>
</div>
<div class="contentFullBottom">
</div>
</section>
