<div class="hrmobile"><hr></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-12 col-lg-3 col-xxl-6 ">
        <div data-controller="carousel" class="swiper-container" data-carousel-options='{"direction": "vertical"}'>
          <div class="swiper-wrapper">
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-6">
        <h2>Lebkuchen-aus-Rodgau</h2>
        <p class="flavors">On insensible possession oh particular attachment at excellence in. The books arose but miles happy she.</p>
        <p class="flavors">It building contempt or interest children mistress of unlocked no. Offending she contained mrs led listening resembled. Delicate marianne absolute men dashwood landlord and offended.</p>
        <p class="flavors">Suppose cottage between and way. Minuter him own clothes but observe country. Agreement far boy otherwise rapturous incommode favourite.</p>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-6">
          <p class="flavors"><strong>Flavors available</strong></p>
            <div class="btn-prod">
              <%= link_to "Nozes", "/findus", class: "btn-flavor me-2" %>
              <%= link_to "Sugar", "/findus", class: "btn-flavor me-2" %>
              <%= link_to "Dark chocolate", "/findus", class: "btn-flavor me-2" %>
            </div>
        </div>
      </div>
      <div class= "container">
        <div>
          <p class="flavors"><strong>Zutatenliste</strong></p>
            <hr class="hr-product">
            <p>Oblatenlebkuchen mit <strong>MANDELN</strong></p>
            <p>MANDELN, Sultaninen, VOLLEI ( EIWEIß), Zucker, Butter (LAKTOSE),Marzipanrohmasse (MANDELN), Zitronat (Zitronensäure E330),
            Orangeat ( Zitronensäure E330), Semmelbrösel (WEIZEN), Rum (Alkohol), Backtriebmittel Pottasche, Gewürze (Zimt), Backoblaten (WEIZEN), Stärke </p>
            <p>KANN SPUREN ANDERER SCHALENFRÜCHTE ENTHALTEN
            Enthält GLUTEN (Semmelbrösel, Oblaten)</p>
        </div>
      </div>
      <div style="margin-top: 50px">
        <p class="flavors"><strong>Nährwerttabelle</strong></p>
        <hr class="hr-product">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Durchschnittliche Nährwerte</th>
            <th scope="col">pro</th>
            <th scope="col">pro</th>
          </tr>
        </thead>
          <tbody>
        <tr>
          <th scope="row">1 Stück ca. 60g</th>
          <td>100g</td>
          <td>Stück</td>
        </tr>
        <tr>
          <th scope="row">Brennwert</th>
          <td>1638kj/390kcal</td>
          <td>983kj/234kcal</td>
        </tr>
          <tr>
          <th scope="row">Fett davon gesättigte Fettsäuren</th>
          <td>20,30g</td>
          <td>12,18g</td>
        </tr>
        <tr>
          <th scope="row">Kohlehydrate davon Zucker</th>
          <td>40,82g</td>
          <td>24,49g</td>
        </tr>
        <tr>
          <th scope="row">Ballaststoffe</th>
          <td>4,29g</td>
          <td>2,57g</td>
        </tr>
        <tr>
          <th scope="row">Eiweiß</th>
          <td>8,30g</td>
          <td>4,98g</td>
        </tr>
        <tr>
          <th scope="row">Salz</th>
          <td>0,21g</td>
          <td>0,13g</td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
