<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
    <title>Contact us! </title>
          <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
      </script>
      <script type="text/javascript">
        (function(){
            emailjs.init("aTtn5oVnIzed39MBB");
        })();
      </script>
      <script src="contact.js"></script>
  </head>
  <body>

    <div class="container border mt-3 bg-light">
      <div class="row">
        <div class="col-md-6 p-5 bg-primary text-white"></div>
        <h1>Hi there!</h1>
            <h4>If ou have any question, please send us an email, we will be happy to answer!</h4>
        </div>
        <div class="col-md-6 py-3 ">
          <h1>Contact form</h1>
          <form id="form_id">
            <h5>Your email</h5>
            <input type="text" id="to_email" placeholder="email">
            <h5>Name</h5>
            <input type="text" id="name" placeholder="name">
            <h5>Subject</h5>
            <input type="text" id="subject" placeholder="Subject">
            <h5>message</h5>
            <textarea id="message" placeholder="Message"></textarea>
            <button id="send_button"onclick="sendMail()">Send</button>
         </form>

        </div>
    </div>
  </body>
</html>
