<div id="top"></div>
<div class="banner-error500">
    <div class="image-container-500"></div>
    <div class="content">
        <h2 class="msgerror"><%= t("anerror500") %></h2>
        <%= link_to t("homepage"), "/", class: "btn-findus" %>
    </div>
</div>
