<div id="top"></div>
<div class= "banner-error404">
    <div class="content">
      <h1>Seite nicht gefunden</h1>
      <h2>Wir konnten die von Ihnen gesuchte Seite nicht finden.</h2>
        <%= link_to "Back to home page", "/", class: "btn-findus" %>
    </div>
</div>
