  /* Frame 404 */

/* Auto layout */

.container-border.mt-3.bg-light {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  isolation: isolate;
  position: absolute;
  width: 567px;
  height: 118px;
  left: 138px;
  top: 215px;
}



/* Rectangle 44 */

position: absolute;
width: 187px;
height: 8px;
left: 0px;
top: 88px;

background: #A07037;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Welcome to Lebkuchen */

width: 236px;
height: 41px;

/* Head - Rochester/H2 */
font-family: 'Rochester';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;
display: flex;
align-items: flex-end;
text-align: center;

color: #A07037;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* contact */

width: 192px;
height: 60px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 60px;
/* identical to box height */
display: flex;
align-items: flex-end;
text-align: center;
text-transform: uppercase;

color: #212121;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;

/* Frame 408 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 570px;
height: 460px;
left: 135px;
top: 357px;



/* Frame 407 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 570px;
height: 48px;

background: #FFFFFF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Your Name */

width: 89px;
height: 22px;

/* Body/Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: flex-end;
text-align: center;

color: #A07037;

opacity: 0.7;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 408 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 570px;
height: 48px;

background: #FFFFFF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Your Email */

width: 84px;
height: 22px;

/* Body/Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: flex-end;
text-align: center;

color: #A07037;

opacity: 0.7;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 409 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 570px;
height: 48px;

background: #FFFFFF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Phone */

width: 50px;
height: 22px;

/* Body/Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: flex-end;
text-align: center;

color: #A07037;

opacity: 0.7;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 411 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 570px;
height: 244px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 410 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 16px;
gap: 10px;

width: 570px;
height: 160px;

background: #FFFFFF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Your Message */

width: 113px;
height: 22px;

/* Body/Regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: flex-end;
text-align: center;

color: #A07037;

opacity: 0.7;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 160px;
height: 44px;

background: #A07037;
border: 1px solid #A07037;
border-radius: 999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

width: 59px;
height: 20px;

/* Body/SemiBold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
