footer {
  background: rgba(59, 41, 20, 1);
  height: auto;
  width: 100vw;
  font-family: “auto”;
  color: white;
  margin-top: 70px;
  position: absolute;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content p{
  max-width: 500px;
  // margin: 10px auto;
  // line-height: px;
  font-size: 12px;
  font-family: $body-font;
  color: $white;
  display: inline;
  padding: 20px;

}


.img img{
  height: 40px;
  width: auto;
  margin: 20px 20px;
  // margin-bottom: 35px;
}


.link-footer{
  color:rgb(234, 221, 207);
  text-decoration: none;
}
.link-footer:hover{
  color: black;
}



.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  font-size: 16px;
}
.footer-links a {
  color: rgb(234, 221, 207);
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: black;
}
.footer-links p{
  color: rgb(234, 221, 207);
}
.footer-links p:hover{
  color: black;
}


.fab-fa-facebook{
  color: rgb(64, 55, 37);
  text-decoration: none;
}
.fab-fa-instagram{
  color: rgb(64, 55, 37);
  text-decoration: none;
}


.line{
  margin: auto;
  width: 75%;
  border-style: solid;
  color: $beige;
}


.footer-copyright{
  width: 100vw;
  text-align: center;
  padding: 5px 0;
  font-family: $body-font;
  color: rgb(234, 221, 207);
  font-size: 11px;
  margin-bottom: 30px;
}
