footer {
  background: $light-brow;
  height: auto;
  width: 100vw;
  font-family: "auto";
  color: white;
  margin-top: 70px;
  position: absolute;

}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 16px;
  font-family: $body-font;
  color: $dark-green;
  display: inline;
  padding: 20px;

}


.img img{
  height: 60px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 35px;
}


.link-footer{
  color: rgb(64, 55, 37);
  text-decoration: none;
}
.link-footer:hover{
  color: white;
}



.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 50px;
  font-size: 16px;
}
.footer-links a {
  color: rgb(64, 55, 37);
  text-decoration: none;
  font-size: 25px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: white;
}
.footer-links p{
  color: rgb(64, 55, 37);
}
.footer-links p:hover{
  color: white;
}


.fab-fa-facebook{
  color: rgb(64, 55, 37);
  text-decoration: none;
}
.fab-fa-instagram{
  color: rgb(64, 55, 37);
  text-decoration: none;
}


.line{
  margin: auto;
  width: 75%;
  border-style: solid;
  color: $beige;
}


.footer-copyright{
  width: 100vw;
  text-align: center;
  padding: 20px 0;
  font-family: $body-font;
  color: $dark-green;
  font-size: 14px;
}
