.mapboxgl-popup {
  max-width: 200px;
  
}

.mapboxgl-popup-content {
  background-color: #EADCCF !important;
  border-radius: 5% !important;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  box-shadow: 2px 4px 8px rgba(50, 50, 50, 0.17) !important;
}

.mapboxgl-map {
  box-shadow: 2px 4px 8px rgba(50, 50, 50, 0.17) !important;
}
