.btn-light:hover {
  background: rgba(160, 112, 55, 0.7) !important;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $beige;
  padding: 10px;
}

.navbar-brand img {
  height: 50px;
  margin-left: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item{
  align-self: center;
}

.bar{
  content: "\007C";
  margin-right: 10px;
  margin-left: 10px;
  align-content: center;
  font-family: $body-font;
  color: $dark-green;
}
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}

.navbar-nav a {
  font-family: $body-font;
  color: $dark-green;
  text-transform: uppercase;
  margin-right: 10px;
  text-decoration: none;
  transition: 0.3s ease;
}

.navbar-nav a:hover{
  text-decoration: underline;
  text-decoration-color: #A07037;
  color: inherit;

}

.hr{
margin-top: 1px !important;
}

@media screen and (max-width: 320px),
       screen and (max-width: 414px),
       screen and (max-width: 428px),
       screen and (min-width: 768px) and (max-width: 1024px) {
  .hide-on-tablet-and-mobile {
    display: none;
  }

  .navbar-nav{
    margin-top: 10px;
  }

  .nav-item{
    text-align: center;
    width: 100vw;
  }
  .nav-item a:hover{
    width: 100vw;
    text-decoration: none !important;
    background-color:rgba(160, 112, 55, 0.5) ;


  }
}
